{% extends "base.html" %}
{% load static %}

{% block title %} Visualization {% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'external/vis/vis.min.js' %}"></script>
<link  rel="stylesheet" type="text/css" href="{% static 'external/vis/vis.min.css' %}"/>
<link  rel="stylesheet" type="text/css" href="{% static 'visualization/index.css' %}"/>
{% endblock %}

{% block body %}
<section class="upper">
  <div class="row">
    <div class="col-md-12 text-center text-header">
      MNIST Data
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div id="sketchpadapp">
          <div class="rightside">
              <canvas id="sketchpad" height="280" width="280">
              </canvas>
          </div>
          <button id="save"class="btn btn-primary">Predict</button>
          <button id="clear" class="btn btn-warning">Clear Canvas</button>
        </div>
      </div>
      <p></p>
      <p></p>
      <p></p>
        <div class="row">
          <h3>Layers Information :</h3>
          {% for meta in meta.layers %}
            <div>
            <b>{{meta}}</b>
            </div>
          {% endfor %}
        </div>
        <input id="myField" class="hidden" value="" />
        <input id="out" value="" class="hidden"/>
    </div>
    <div class="col-md-5 offset-md-2">
      <h3>Expected output: {{meta.output}}</h3>
        {% for key, value in meta.probabilities.items %}
          <div class="row">
            <div class="col-md-2">
              Class: {{key}}
            </div>
            <div class="col-md-6">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{value}}%;">
                  {{ value | floatformat:0 }}%
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <p>{{ value | floatformat:2 }} %</p>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      

    </div>
  </div>
</section>
<div class="row justify-content-center">
  <div class="col-12" id="network">
  </div>
</div>

<p id="selection"></p>
  

<div class="row justify-content-center">
  <div class="col-12" id="output">
  </div>
</div>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    var dotstring = `{{ dotstring | safe}}`;
    var node_data = {{ data | safe }};
  </script>
  <script type="text/javascript" src="{% static 'visualization/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'visualization/sketchpad.js' %}"></script>
{% endblock %}